<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple AI Chat Bot with Web Speech API">
    <title>AI Chat Bot</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1>Talk To AI</h1>
    <button class="mic-container">
        <i class="fa-duotone fa-solid fa-microphone fa-beat"></i>
    </button>
    <div>
        <h3>You said: <em class="output-you">...</em></h3>
        <br />
        <h3>Bot replied: <em class="output-bot">...</em></h3>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>

</html>